@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

header {
    background: #222;
    padding: 20px 100px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-weight: 600;
    font-size: 30px;
}

header .logo a {
    text-decoration: none;
    color: wheat;
}

header nav a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
    font-size: 18px;
    transition: all 500ms ease;
}

header nav a.btn {
    padding: 10px 5px;
    border: 1px solid silver;
    border-radius: 5px;
}

header nav a:hover, 
header .logo a:hover {
    color: #a1a1a1;
}

header .logo a:hover {
    color: #FFC007;
}

header nav a.btn:hover {
    border-color: #de7474;
}

main {
    float: left;
    margin-top: 50px;
    margin-left: 100px;
    width: 50%;
}

.user {
    background-color: #F5DEB3;
    border: 1px solid #FFC007;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside {
    float: right;
    margin-top: 50px;
    margin-right: 100px;
    width: 400px;
}

aside .info {
    background: #ffc007;
    color: #42410c;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    line-height: 140%;
    border-radius: 5px;
}

aside .info h2 {
    margin-bottom: 10px;
}

aside img {
    width: 100%;
    border: 5px solid #fff;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 30px;
}

form {
    margin: 30px 0;
}

form label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    cursor: pointer;
}

form input {
    width: 100%;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 15px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

form input:focus {
    border-color: #86b7fe;
    background-color: #e0edff9d;
    outline: 0;
    box-shadow: 0px 0px 1px 3px rgba(44, 140, 214, 0.4);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

form button, .user button {
    font-size: 20px;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background: #fec008;
    color: #42410c;
    transition: transform 500ms ease;
}

form button:hover,
.user button:hover {
    transform: scale(1.1);
}

form button:active,
.user button:active {
    transform: scale(1);
}

.error-mess, .error {
    color: #de7474;
    margin: 10px 0;
    font-weight: 600;
    display: none;
}

.error {display: block;}

footer {
    position: absolute;
    bottom: 0;
    float: left;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    background: #222;
    padding: 30px;
    color: #fff;
    margin-top: 100px;
}